body {
    font-family: Arial, sans-serif;
    background-color: #f0f7f7;
    margin: 0;
    padding: 0;
}
    
header {
    background-color: #5d9058; /* Vermelho do G1 */
    padding: 20px;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

h1{
  text-align: center;
  justify-content: center;
  margin-left: 185px;
}

nav {
   padding: 15px; /* Aumentando o padding para aumentar a área */
   display: flex; 
   justify-content: center;
   gap: 20px; /* Espaço entre os links do menu */
}

nav a {
    
    
color: white; /* Cor dos links */
text-decoration: none; /* Remove o sublinhado */
font-size: 18px; /* Aumenta o tamanho da fonte dos links */
padding: 10px 15px; /* Adiciona padding para aumentar a área clicável */
}

nav a:hover {
    
   
background-color: #245c43; /* Cor de fundo ao passar o mouse */
    border-radius: 4px; /* Cantos arredondados ao passar o mouse */
}

#divBusca{
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    width: 160px;
    height:30px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:50px;
  }
  
  #btnBusca{
    border:none;
    float:right;
    height:32px;
    border-radius:0 7px 7px 0;
    width:50px;
    font-weight:bold;
    background:#5F9EA0;
  }
  
  #divBusca img{
    float:left;
    width: 24px; 
    height: 24px; 
    margin-right: 10px; 
  }
  

  #unico{
    background-color: #5d9058;
  }
  #unico:hover{
    background-color: #138643;
  }
section{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
.dir, .esq{
  display: flex;
  flex-direction: column;
}
  .maior{
    width: 750px;
    height: 550px;
    border: 1px solid black;
    margin-left: 175px;
  }
  /* .menor{
    width: 800px;
    height: 200px;
    border: 1px solid black;
  } */
  .igual{
    width: 400px;
    height: 200px;
    border: 1px solid black;
    margin: 50px;
  }


  .container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #e63946;
    font-size: 28px;
    text-align: left;
    margin-bottom: 20px;
}

.blogs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    width: 22%;
    margin-bottom: 20px;
}

.blog-item img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.blog-item h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.blog-item p {
    font-size: 14px;
    color: #666;
}

@media (max-width: 768px) {
    .blog-item {
        width: 48%;
    }
}

@media (max-width: 480px) {
    .blog-item {
        width: 100%;
    }
}